<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:include="layout :: site-head">
    <title>Comet choose your destination</title>
</head>

<body>
<header th:replace="layout :: site-header"/>
<div class="team-grid" style="color:rgb(28,95,162);background-color:rgb(255,255,255);">
    <div class="row" style="padding: 15px 50px 20px 50px;">
        <p class="text-center" style="font-size:50px;color:rgb(87,87,86);"><strong>Choose your requirements</strong></p>
    </div>
    <div class="row" style="padding: 15px 50px 20px 50px;">
        <div class="col container" id="country">
            <img src="/images/work_permit.png" width="195">
        </div>
        <div class="col container" id="country">
            <img src="/images/media.png" width="195">
        </div>
        <div class="col container" id="country">
            <img src="/images/crew_transit.png" width="195">
        </div>
        <div class="col container" id="country">
            <img src="/images/tourist_business.png" width="195">
        </div>
    </div>
</div>
<div class="row" style="padding: 0px 50px 50px 50px;">
    <div class="col container">
        <a href="nationality.html">
            <div class="centered">WORK PERMIT</div>
        </a>
    </div>
    <div class="col container">
        <a href="nationality.html">
            <div class="centered">MEDIA PERMIT</div>
        </a>
    </div>
    <div class="col container">
        <a href="nationality.html">
            <div class="centered">CREW TRANSIT</div>
        </a>
    </div>
    <div class="col container">
        <a href="nationality.html">
            <div class="centered">TOURIST/ BUSINESS</div>
        </a>
    </div>
</div>
</div>
<footer th:replace="layout :: site-footer"/>
</body>

</html>