
/* Container som indeholder både image og text */
.container {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: rgb(248,175,62);
    font-size: xx-large;
}

#country .centered {
    visibility:hidden;
}

#country:hover .centered {
    visibility:visible;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container a {
    color: rgb(248,175,62);
    text-decoration: none;
}

.icon {
    max-width: 24%;
}
body {
    overflow-x: hidden
}